<!DOCTYPE html>
<html ng-app="beatstream">
<head>
<title>BeatStream</title>

<!-- Stylesheets go below here, in the order of dependency -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery-ui.css">
<link rel="stylesheet" href="css/app.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,900,900italic' rel='stylesheet' type='text/css'>
<script> <% if(user){ %>window.CurrentUser = { id:"<%= user.id %>", name:"<%= user.displayName %>",  icon:"<%= user._json.result.icon %>"}; <% } %> </script>
<script> window.playbackToken = "<%= playbackToken %>";</script>
</head>

<body>
<div id="wrap">
  <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="beatstream.png"alt="BeatStream">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <form ng-controller="SearchCtrl" class="main-form navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="people-search" type="text" class="form-control" placeholder="Find People, Friends, Artists">
        </div>
        <% if(user){ %>
        <span id="or">or</span>
         <% } %>
      </form>
      <% if(!user){ %>
        <ul class="nav navbar-nav navbar-right login-link">
          <li>
            <span class="loginme"><a href='/auth/rdio'>Login to post</a></span>
          </li>
        </ul>
      <% } else { %>
      <form id="postsong" ng-controller="PostSongCtrl" class="main-form navbar-form navbar-left" role="search">
        <button ng-click="showModal()" type="submit" class="btn btn-default">Post Song</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="user-avatar" src="<%= user._json.result.icon %>">
            <span class="loginme"><%= user.displayName %></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <span class="loginme"><li><a href='/logout'>Logout</a></li></span>
          </ul>
        </li>
      </ul>
      <% } %>
    </div>
  </nav>

  <section id="content" class="container">
    <div id="collumns" class="row col-md-12 center-block">
    <div id="middle" class="center-block">
      <div ng-controller="SongsCtrl" class="song-cards-wrapper">
      <div ng-repeat="song in songs | orderByPriority | reverse">
        <div class="song-card">
          <div class="song-card-poster">
            <img class="user-profile-thumb" ng-src="{{song.user.avatar}}">
            <span class="name-and-time">{{song.user.name}}<br></span>
            <span class='song-card-date' am-time-ago="song.createdAt | toDate"></span>
          </div>
          <img ng-click="play(song.song, $index)" class="song-card-thumb" ng-src="{{song.icon}}">
          <div class="cc songName"><div>
            {{song.name}} <span id="by">by</span> {{song.artist}} 
          </div>
          <div id="caption">
            {{song.description}}
            </div>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="footer" class="navbar-fixed-bottom">
  <div class="footer-wrap navbar-fixed-bottom">
    <div ng-model="song" ng-controller="NowPlayingCtrl" class="now-playing">
      <img ng-src="{{song.icon}}" class="pull-left song-thumb">
      <div class="song-text pull-left">
          <p><span class="song-title">{{song.name}}<span id="by">&nbsp;by&nbsp;</span>
          <span class="song-artist">{{song.artist}}</span></p>
      </div>
      <div class="media-controls navbar-fixed-bottom">
        <a ng-click="previous()" class="glyphicon glyphicon-step-backward"></a>
        <a ng-click="play()" class="glyphicon glyphicon-play"></a>
        <a ng-click="pause()" class="glyphicon glyphicon-pause"></a>
        <a ng-click="next()" class="glyphicon glyphicon-step-forward"></a>
        <div class="volume-slider"></div>
      </div>
  </div>
</section>

<div ng-controller="PostSongCtrl" id="post-song-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Post Song</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="song-search">Find a song</label></br>
            <input id="song-search" type="text" class="form-control" placeholder="Find a song...">
          </div>
          <div class="form-group">
            <label for="description">Add a description</label>
            <textarea id="description" class="form-control" rows="3" ng-model="post.description" placeholder="(optional)"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button ng-click="postSong()" type="button" class="btn btn-primary pull-right">Post Song</button>
      </div>
    </div>
  </div>
</div>

<div id="rdio-api"></div>

<!-- Scripts go below here, in the order of dependency -->
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js'></script>
<script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js'></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
<script type='text/javascript' src='js/libs/angular-moment.js'></script>
<script type='text/javascript' src='js/libs/swfobject.js'></script>
<script type='text/javascript' src='js/libs/jquery.rdio.js'></script>
<script type='text/javascript' src='js/libs/typeahead.js'></script>
<script type='text/javascript' src='js/app.js'></script>
<script type='text/javascript' src='js/now_playing_controller.js'></script>
<script type='text/javascript' src='js/search_controller.js'></script>
<script type='text/javascript' src='js/songs_controller.js'></script>
<script type='text/javascript' src='js/post_song_controller.js'></script>
<script type='text/javascript' src='js/auth_controller.js'></script>
</body>
</html>